<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Заказы </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
  <div class="card">
    <div class="card-body">
      <!--/*@thymesVar id="orderList" type="java.util.ArrayList<ru.savimar.storedemo.entity.Order>"*/-->
      <div th:switch="${orderList}" class="container my-5">
        <p class="my-5">
          <a href="/editOrder" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Сделать новый заказ </i></a>
        </p>
        <div class="col-md-10">
          <h2 th:case="null">Нет записей!!!</h2>
          <div th:case="*">
            <table class="table table-striped table-responsive-md">
              <thead>
              <tr>
                <th>Дата</th>
                <th>Цена</th>
                <th>Редактировать</th>
                <th>Удалить</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="order : ${orderList}">
                <td th:text="${order.date}"></td>
                <td th:text="${order.price}"></td>
                <td>
                  <a th:href="@{/editOrder/{id}(id=${order.id})}"
                     class="btn btn-primary">
                    <i class="fas fa-user-edit ml-2"></i>
                  </a>
                </td>
                <td>
                  <a th:href="@{/deleteOrder/{id}(id=${order.id})}"
                     class="btn btn-primary">
                    <i class="fas fa-user-times ml-2"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>